
@import url(https://github.com/Aryendel/CSS/blob/main/discord-themes/Scarlet/imports/T1.main.css);

:root {

    --Main_Background: url(https://imgur.com/dN8zyIa.jpg);
    --Main_Brightness: 50 ;
    --Main_Background_blur: 0 ;
    
    --Server_Background: url(https://imgur.com/x7nLJEN.jpg);
    --Server_Brightness: 50 ;
    --Server_Background_blur: 0 ;
  
    --show-nitro-btn: 0 ;
    --show-gif-btn: 1 ;
    --show-sticker-btn: 0 ;
    --show-emoji-btn: 1 ;

    --show-home-tabs: 1 ; 
    --show-serverboost-stats: 1 ; 

    /* Button overlay in call view (1 = always show | 0 = only show on hover) */
    --always-show-voicecontrols: 0 ; 

    /* Main font (prioritization: left to right) */
    --Font: "Noto Serif JP", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif ;
}
